<div class="contenedor">
    <div class="formulario">
      <div class="form-row" style="margin-top: 40px">
        <div class="col">
          <input [(ngModel)]="euros" name="euros" class="form-control" name="euros" required placeholder="EU">
        </div>
        <div class="col">
          <input [(ngModel)]="dolares" class="form-control" name="dolares" placeholder="U$S" disabled>
        </div>
      </div>
    </div>
  <div class="submitbtn" align="center">
    <button type="submit" class="btn btn-default btn-lg" (click)="onClickMe()">CALCULATE</button>
  </div>
</div>
